<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>BCCA Blogs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>BCCA Blogs</h1>
        <a href="{% url 'createblog' %}"><button>Create New Blog</button></a>
        <div>
            {% for blog in blogposts %}
            <h2>{{ blog.title }}</h2>
            <h4>by: {{ blog.author }}</h4>
            <h4>Posted on {{ blog.date }}</h4>
            {% endfor %}
        </div>
    </body>
</html>
